<header>
  <div class="row py-4">
    <div class="col">
      <app-sidebarnav></app-sidebarnav>
    </div>
    <div class="col logo text-center d-none d-lg-flex justify-content-center">
      <h1>Auto Repair Shop</h1>
    </div>
    <!-- <div
      class="col logo text-center d-lg-none d-flex align-items-center justify-content-center"
    >
      <h1>ARS</h1>
    </div> -->

    <div
      class="col logocel text-center d-lg-none d-flex align-items-center justify-content-center flex-column"
    >
      <i class="bi bi-car-front"></i>
      <h1>ARS</h1>
    </div>
    <div class="col d-flex justify-content-end">
      <app-button (click)="logOut()"
        >Sair <i class="bi bi-x-lg ms-2"></i
      ></app-button>
    </div>
  </div>
</header>
