<div class="container">
  <div class="row"><app-header></app-header></div>

  <div class="row mt-4">
    <div class="col-12 col-md-3">
      <div
        class="card d-flex flex-row justify-content-between align-items-center"
      >
        <div class="card-left px-2 py-4">
          <i class="bi bi-bar-chart-fill"></i>
        </div>
        <div class="card-right me-2 text-center">
          <span>{{ count }}</span>
          <h6 class="m-0">Total de serviços</h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-2 mt-md-0">
      <div
        class="card d-flex flex-row justify-content-between align-items-center"
      >
        <div class="card-left px-2 py-4">
          <i class="bi bi-hourglass-split"></i>
        </div>
        <div class="card-right me-2 text-center">
          <span>{{ unfinished }}</span>
          <h6 class="m-0">Serviços à finalizar</h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-2 mt-md-0">
      <div
        class="card d-flex flex-row justify-content-between align-items-center"
      >
        <div class="card-left px-2 py-4">
          <i class="bi bi-x-lg"></i>
        </div>
        <div class="card-right me-2 text-center">
          <span>{{ finished }}</span>
          <h6 class="m-0">Serviços finalizados</h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-2 mt-md-0">
      <div
        class="card d-flex flex-row justify-content-between align-items-center"
      >
        <div class="card-left px-2 py-4">
          <i class="bi bi-cash"></i>
        </div>
        <div class="card-right me-2 text-center">
          <span>R$200,00</span>
          <h6 class="m-0">Total de faturamento</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
