/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "~ngx-toastr/toastr";

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}

body {
  color: #34373c;
}

//Variables

$primary: #004239;
$secondary: #f1f2f3;
$textcolordark: #34373c;
$textcolorlight: #fffffe;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$blackFont: 900;

// Table CSS

tbody {
  th {
    font-weight: 400 !important;
  }
}

//FullCalendar CSS

.fc {
  a {
    color: $textcolordark !important;
  }

  .fc-icon {
    color: $textcolorlight;
  }

  button {
    color: $textcolorlight;
    background: $primary !important;
    border: none !important;
    box-shadow: none !important;
  }
}

// Toastr CSS

.toast-close-button {
  &:hover {
    color: #ffffff !important;
    opacity: 1 !important;
  }
}

.toast-info {
  text-shadow: none !important;
  box-shadow: none !important;
  background-color: $primary !important;
}
